* {
    margin: 0;
    padding: 0; /* "*" seleciona todos os elementos*/
}

body {
    height: 100vh; /* altura da tela 100% do viewport*/
    box-sizing: border-box; /* não deixa sair os elementos de dentro do body*/
    margin: 0px;
    background-color: black;
    color: white;
    display: flex;
    flex-direction: column; /* direção de rolagem*/
    gap: 0px;/* espaçamento entre todos os elementos filhos*/
}
    

.super{
    display: flex;
    justify-content: space-around;/*alinha o texto*/
    margin: 2%;
    font-family:'krona One', sans-serif;
    font-size: 80px;

} 
.botao{
    display: flex;
    justify-content:space-around;
   
}
.botao__link{
    background-color: aqua;
    width: 250px;
    text-align: center;/*alinha o texto*/
    border-radius: 20px; /* arredondamento da borda*/
    font-size: 25px;
    padding: 10px 2px; /*quado dois valores o segundo sempre vai ser o horizontal*/
    text-decoration: none; /*tirar o aspecto de link*/
    color: black;
    font-family: 'krona One', sans-serif;
    font-weight: 600; /*quanto negrito a fonte vai ser*/
}

